.imagee{
    /* background-image: url('https://via.placeholder.com/1920x500'); Replace with your image URL */
    background-image: url('../images/5650443.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 190px;
    text-align: center;
    height: 500px; /* Adjust this value to set your desired height */
}
